<div class="list row">
    <!-- <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchAnimal()"
          >
            Search
          </button>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <h4>Animals List</h4>
      <ul class="list-group colgroup">
        <li
          class="list-group-item"
          *ngFor="let animal of animals; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveAnimal(animal, i)"
        >
          {{ animal.name }}
        </li>
      </ul>

      <!-- <button class="m-3 btn btn-sm btn-danger" (click)="deleteAllAnimals()">
        Delete All Animals
      </button> -->
    </div>
    <div class="col-md-6">
      <div *ngIf="currentAnimal">
        <h4>Animal</h4>
        <div>
          <label><strong>Name:</strong></label> {{ currentAnimal.name }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentAnimal.description }}
        </div>
        <button class="badge badge-warning" routerLink="/animals/{{ currentAnimal.id }}">
          Edit
        </button>
      </div>

      <div *ngIf="!currentAnimal">
        <br />
        <p>Please click on an animal to edit or delete it</p>
      </div>
    </div>
  </div>
